<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhongjiyun03.zhongjiyun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--读取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 友盟消息推送 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- shareSDK分享 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 拨打电话end -->
    <!-- GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 联网:开始 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WIFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 联网:开始 -->


    <!-- 文件相关:开始 -->
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDcard读出数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 文件相关:结束 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <!-- <&#45;&#45;!向SD卡写入数据的权限-&ndash;&gt; -->
    <uses-permission android:name="androd.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 写入通讯录权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS."/>

    <!--极光推送star-->
    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required 一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--极光推送end-->

    <!--百度地图star-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--百度地图end-->

    <!-- 读写存储卡的权限 -->
    <uses-permission android:name="android.permission.RIDE_EXTERNAL_STORAGE" />

    <!-- 相机权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />
    <uses-feature android:name="android.hardware.flash" />

    <!--&lt;!&ndash; Push service 运行需要的权限 &ndash;&gt;
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    &lt;!&ndash; for log. &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />-->


    <application
        android:name=".http.MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/application_logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 友盟stat -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56df88df67e58e7334001ef1" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="acfb262e645f28d398915be79d0c99ca" />
        <!-- 友盟end -->
        <!-- shareSDK分享start -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105208097" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- shareSDK分享end -->

        <activity
            android:name=".uilts.PingPayActivity"
            android:label="@string/title_activity_ping_pay"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.NewsCenterActivity"
            android:label="@string/title_activity_news_center"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.CooperationActivity"
            android:label="@string/title_activity_cooperation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.ServiceProviderActivity"
            android:label="@string/title_activity_service_provider"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.ServiceParticularsActivity"
            android:label="@string/title_activity_service_particulars"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.MyExtruderActivity"
            android:label="@string/title_activity_my_extruder"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.AddExtruderActivity"
            android:label="@string/title_activity_add_extruder"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.RentOutExtruderActivity"
            android:label="@string/title_activity_sell_extruder"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.SellExtruderActivity"
            android:label="@string/title_activity_sell_extruder"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.MyExtruderParticularsActivity"
            android:label="@string/title_activity_extruder_particulars"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.SecondHandActivity"
            android:label="@string/title_activity_second_hand"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.AttentionProjectActivity"
            android:label="@string/title_activity_attention_project"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.AttentionExtrunActivity"
            android:label="@string/title_activity_attention_extrun"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.MyCompetitveTenderActivity"
            android:label="@string/title_activity_my_competitve_tender"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.MessageActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.MyRedPacketActivity"
            android:label="@string/title_activity_my_red_packet"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.PersonageInformationActivity"
            android:label="@string/title_activity_perdonal_daata"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.CooperationParticulasActivity"
            android:label="@string/title_activity_cooperation_particulas"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.ExturderParticularsActivity"
            android:label="@string/title_activity_exturder_particulars"
            android:theme="@style/AppTheme" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".uilts.SeekMachinistParticulasActivity"
            android:label="@string/title_activity_seek_machinist_particulas"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.SeekProjectParticularsActivity"
            android:label="@string/title_activity_seek_project_particulars"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.HomeMoreProjectActivity"
            android:label="@string/title_activity_home_more_project"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.NewsListParticularsActivity"
            android:label="@string/title_activity_news_list_particulars"
            android:theme="@style/AppTheme" />
        <activity android:name=".uilts.selectPicture.SelectPictureActivity" />
        <activity
            android:name=".uilts.RegisterFishActivity"
            android:label="@string/title_activity_register_fish"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.HomeMarketActivity"
            android:label="@string/title_activity_home_market"
            android:theme="@style/AppTheme" />
        <!-- 图片选择 -->
        <activity android:name=".uilts.selectPicture.activity.ClippingPageActivity" />
        <activity android:name=".uilts.selectPicture.activity.SelectImagesFromLocalActivity" />
        <activity
            android:name=".uilts.StingActivity"
            android:label="@string/title_activity_sting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.ModificationPhoneActivity"
            android:label="@string/title_activity_modification_phone"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.IdeaActivity"
            android:label="@string/title_activity_idea"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.CompetitiveDescribeActivity"
            android:label="@string/title_activity_competitive_describe"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.CommitCashDepositActivity"
            android:label="@string/title_activity_commit_cash_deposit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.PaymentStateActivity"
            android:label="@string/title_activity_payment_state"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.CommentActivity"
            android:label="@string/title_activity_comment"
            android:theme="@style/AppTheme" />
        <activity android:name=".uilts.showPicture.ImagePagerActivity" />
        <activity
            android:name=".uilts.CommentOwnerActivity"
            android:label="@string/title_activity_comment_owner"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.MessageParticularsActivity"
            android:label="@string/title_activity_message_particulars"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.ModifiExtruderActivity"
            android:label="@string/title_activity_modifi_extruder"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.HomeTribeActivity"
            android:label="@string/title_activity_home_tribe"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.HomeBlackListActivity"
            android:label="@string/title_activity_home_black_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.SeekMachinistActivity"
            android:label="@string/title_activity_seek_machinist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.AdvertisementParticulsrsActivity"
            android:label="@string/title_activity_advertisement_particulsrs"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uilts.RatingHelpActivity"
            android:label="@string/title_activity_rating_help"
            android:theme="@style/AppTheme"></activity>
        <!--百度地图star-->
        <activity android:name=".baidumap.LocationActivity"></activity>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="yZhaMUsvTpoKTuCNT4VqfiPq1Hw9by9G" />  <!--http://lbsyun.baidu.com/apiconsole/key-->
          <!--百度地图end-->



         <!--极光推送star-->
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK 核心功能-->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />

            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--Required 显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

       <!-- &lt;!&ndash; User defined. 用户自定义的广播接收器&ndash;&gt;
        <receiver
            android:name="您自己定义的Receiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required 用户注册SDK的intent&ndash;&gt;
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required 用户接收SDK消息的intent&ndash;&gt;
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required 用户接收SDK通知栏信息的intent&ndash;&gt;
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required 用户打开自定义通知栏的intent&ndash;&gt;
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> &lt;!&ndash;Optional 用户接受Rich Push Javascript 回调函数的intent&ndash;&gt;
                <action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>-->

        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="05b488e09e33009fdf371ff1" /> <!-- </>值来自开发者平台取得的AppKey-->
        <!--极光推送end-->

        <service android:name=".service.UpdateService"></service>
    </application>

</manifest>